@import "../../variables.scss";

.menu {
  #mobile {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
    padding: 0 30px;
  }
  #web {
    display: none;
  }

  @media (min-width: $breakpoint-web) {
    #mobile {
      display: none;
    }

    #web {
      padding-top: 18px;
      display: flex;
      justify-content: space-between;

      .menu-logo {
        :first-child {
          margin-right: 20px;
        }

        span {
          :hover {
            cursor: pointer;
          }
        }
      }

      .menu-actions {
        :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
          margin-right: 30px;
        }

        span {
          margin-left: 10px;

          :hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
