@import "../../variables.scss";

.search {
  display: flex;
  flex-direction: column;
  width: 93%;
  margin: auto;

  @media(min-width: $breakpoint-web) {
    flex-direction: row;
    align-items: flex-end;
    height: 30px;
    
    .search-field {
      margin-right: 20px;
      width: 40%;
      flex-grow: 1;
    }
  }
}